---
import BaseLayout from '@layouts/BaseLayout.astro';
import tools from '@data/tools.json';
import sessions from '@data/sessions.json';
import Link from '@elements/Link.astro';
import H2 from '@elements/H2.astro';
import List from '@elements/List.astro';
import ListItem from '@elements/ListItem.astro';
import P from '@elements/P.astro';
import Section from '@elements/Section.astro';
import SessionLink from '@components/SessionLink.astro';
---
<BaseLayout title="Full Queue Developer">

  <h1 class="container mx-auto px-8 pt-4 my-4 sm:rounded max-w-prose">
    <span class="text-white text-3xl font-bold">Full Queue Developer</span>
  </h1>

  <Section>

    <P>
      I'm a coder who values beauty and thoughtfulness. I have over 15 years professional experience.
    </P>
    <P>I showcase my skills on <Link href="https://www.twitch.tv/fullqueuedeveloper">my Twitch stream</Link>, and upload the sessions to <Link href="https://www.youtube.com/channel/UCqJ4mrrpAXbzA-KaZ8f_aMg">my YouTube channel</Link> afterwards. Follow on <Link href="https://twitter.com/fullqueuede">Twitter</Link> for stream notifications.
    </P>
  </Section>

  <Section>
    <H2>Current projects</H2>
    <List>
      <ListItem>Symptom tracking app (not yet published)</ListItem>
    </List>
  </Section>

  <Section>
    <H2>Streaming schedule</H2>
    <P>Every weekday from 2 PM Eastern Time</P>
  </Section>

  <Section>
    <H2>Current tools</H2>
    <List>
    {tools.map((tool) => (<ListItem><Link href={tool.url}>{tool.title}</Link></ListItem>))}
    </List>
  </Section>

  <Section>
    <P>I'm also interested in beautiful ergonomic keyboards. Read my <Link href="/keyboard">Keyboard Story</Link>.</P>
  </Section>

</BaseLayout>
