---
import BaseLayout from '@layouts/BaseLayout.astro';


import Link from '@elements/Link.astro';
import ToolsSection from '@components/ToolsSection/ToolsSection.astro';
import H1 from '@elements/H1.astro';
import H2 from '@elements/H2.astro';
import List from '@elements/List.astro';
import ListItem from '@elements/ListItem.astro';
import P from '@elements/P.astro';
import Section from '@elements/Section.astro';
---
<BaseLayout title="Full Queue Developer">

  <H1>Full Queue Developer</H1>

  <Section>
    <P>
      Every weekday at 2pm, I answer your Swift programming questions on <Link href="https://www.twitch.tv/fullqueuedeveloper">my Twitch stream</Link>. In between questions, I build my own apps and publish them to the App Store. I bring over 15 years professional experience. If you miss a session, you can catch them on <Link href="https://www.youtube.com/channel/UCqJ4mrrpAXbzA-KaZ8f_aMg">my YouTube channel</Link> afterwards.
    </P>

    <P>
      Do you have a larger project you would like me to build on stream? Email me at <Link href="mailto:business@fullqueueudeveloper.com">business@fullqueueudeveloper.com</Link>.
    </P>
  </Section>

  <Section>
    <H2>Streaming schedule</H2>
    <P>Every weekday from 2 PM Eastern Time on <Link href="https://www.twitch.tv/fullqueuedeveloper">Twitch</Link></P>

    <P>For stream updates, follow on <Link href="https://twitter.com/FullQueuDev">Twitter</Link> or subscribe with <Link href="/ical">iCal</Link></P>
  </Section>

  <Section>
    <H2>Current projects</H2>
    <List>

      <ListItem><Link href="/haptics-studio">Haptics Studio</Link> The best way to discover and test iPhone haptics in the palm of your hand!</ListItem>

      <ListItem><Link href="https://underway.nyc">Underway NYC</Link> Real-time data to make decisions while on the way. Underway NYC is for the here and now underground. </ListItem>

      <ListItem>
        <Link href="https://github.com/FullQueueDeveloper/Sh.git">Sh</Link> The best way to run shell commands from Swift
      </ListItem>
    </List>
    <List level="1">
      <ListItem><Link href="https://github.com/FullQueueDeveloper/ShXcrun.git">ShXcrun</Link> Swift wrapper around `xcodebuild` and other `xcrun` tools</ListItem>

      <ListItem><Link href="https://github.com/FullQueueDeveloper/ShGit.git">ShGit</Link> Swift wrapper around Git, built with Sh</ListItem>

      <ListItem><Link href="https://github.com/FullQueueDeveloper/Sh1Password.git">Sh1Password</Link> Swift wrapper around 1Password's CLI v2, built with Sh</ListItem>
    </List>
  </Section>

  <ToolsSection />

  <Section>
    <P>I'm also interested in beautiful ergonomic keyboards. Read my <Link href="/keyboard">Keyboard Story</Link>.</P>
  </Section>

</BaseLayout>
