---
import BaseLayout from '@layouts/BaseLayout.astro';


import ToolsSection from '@sections/ToolsSection/ToolsSection.astro';
import ProjectsSection from '@sections/ProjectsSection.astro';

import Link from '@elements/Link.astro';

import H1 from '@elements/H1.astro';
import H2 from '@elements/H2.astro';
import List from '@elements/List.astro';
import ListItem from '@elements/ListItem.astro';
import P from '@elements/P.astro';
import Section from '@elements/Section.astro';
---
<BaseLayout title="Full Queue Developer">

  <H1>Full Queue Developer</H1>

  <Section>
    <H2>Live narrated creative programming</H2>
    <P>
      Every weekday at 2pm, I answer your Swift programming questions on <Link href="https://www.twitch.tv/fullqueuedeveloper">my Twitch stream</Link>. In between questions, I build my own apps and publish them to the App Store. I bring over 15 years professional experience. If you miss a session, you can catch them on <Link href="https://www.youtube.com/channel/UCqJ4mrrpAXbzA-KaZ8f_aMg">my YouTube channel</Link> or subscribe with <Link href="https://www.youtube.com/feeds/videos.xml?channel_id=UCqJ4mrrpAXbzA-KaZ8f_aMg">RSS</Link>.
    </P>

    <P>
      I am also available for teaching you what I know or as a consultant or freelancer for your project. Contact me at <Link href="mailto:business@fullqueueudeveloper.com">business@fullqueueudeveloper.com</Link> to discuss details.
    </P>
  </Section>

  <Section>
    <H2>Streaming schedule</H2>
    <P>Every weekday from 2 PM Eastern Time on <Link href="https://www.twitch.tv/fullqueuedeveloper">Twitch</Link></P>

    <P>For stream updates, follow on <Link href="https://twitter.com/FullQueuDev">Twitter</Link> or subscribe with <Link href="/ical">iCal</Link></P>
  </Section>

  <ProjectsSection />

  <ToolsSection />

  <Section>
    <P>I'm also interested in beautiful ergonomic keyboards. Read my <Link href="/keyboard">Keyboard Story</Link>.</P>
  </Section>

</BaseLayout>
