---
const { href } = Astro.props
---
<a class="
  decoration-none
  no-underline
  hover:underline hover:decoration-4 hover:decoration-fuchsia-600

  text-fuchsia-600
  font-semibold
  "
  href={href}><slot/>&nbsp;&rsaquo;</a>