---
const { href } = Astro.props
---
<a class="
  decoration-none
  no-underline
  hover:underline hover:decoration-2  hover:decoration-fuchsia-600

  text-sm font-semibold text-gray-800
  "
  href={href}><slot/>&nbsp;&rsaquo;</a>
