---
import Link from '@elements/Link.astro';
import H2 from '@elements/H2.astro';
import List from '@elements/List.astro';
import ListItem from '@elements/ListItem.astro';
import Section from '@elements/Section.astro';
---
  <Section id="active">
  <H2>Active projects</H2>
  <List>

    <ListItem><Link href="/haptics-studio">Haptics Studio</Link> The best way to discover and test iPhone haptics in the palm of your hand!</ListItem>

    <ListItem><Link href="https://underway.nyc">Underway NYC</Link> Real-time data to make decisions while on the way. Underway NYC is for the here and now underground. </ListItem>

    <ListItem>
      <Link href="https://github.com/FullQueueDeveloper/Sh.git">Sh</Link> The best way to run shell commands from Swift
    </ListItem>
  </List>
  <List level="1">
    <ListItem><Link href="https://github.com/FullQueueDeveloper/ShXcrun.git">ShXcrun</Link> Swift wrapper around `xcodebuild` and other `xcrun` tools</ListItem>

    <ListItem><Link href="https://github.com/FullQueueDeveloper/ShGit.git">ShGit</Link> Swift wrapper around Git, built with Sh</ListItem>

    <ListItem><Link href="https://github.com/FullQueueDeveloper/Sh1Password.git">Sh1Password</Link> Swift wrapper around 1Password's CLI v2, built with Sh</ListItem>
  </List>
</Section>