---
const { session } = Astro.props;
---

<div class="pb-2">
<a class="

  "
  href={session.url}>
  <div class="font-bold text-fuchsia-600">Session {session.id}: {session.title} &rsaquo;</div>

  <div class="text-black">{session.description}</div>
</a>
</div>
