---
import BaseLayout from '@layouts/BaseLayout.astro';

import Link from '@elements/Link.astro';
import H2 from '@elements/H2.astro';
import H1 from '@elements/H1.astro';
import List from '@elements/List.astro';
import ListItem from '@elements/ListItem.astro';
import P from '@elements/P.astro';
import Section from '@elements/Section.astro';
---
<BaseLayout title="Haptics Studio Privacy Policy">
  <H1>Haptics Studio Privacy Policy</H1>
  <Section>
    The Haptics Studio app looks at none of your data. And none of your data leaves the device by means of the app.
  </Section>
</BaseLayout>
