---
import Item from '@components/Footer/Item.astro';
---

<div class="container mx-auto px-8 my-8 pb-8 max-w-prose sm:rounded">

  <div class="my-4 text-sm">
    <ul>

      <Item title="Twitch"
            value="FullQueueDeveloper"
            url="https://twitch.tv/FullQueueDeveloper"/>

      <Item title="Twitter"
            value="FullQueueDev"
            url="https://twitter.com/FullQueueDev"/>

      <Item title="YouTube"
            value="FullQueueDeveloper"
            url="https://www.youtube.com/channel/UCqJ4mrrpAXbzA-KaZ8f_aMg"/>

      <Item title="GitHub"
            value="FullQueueDeveloper"
            url="https://github.com/FullQueueDeveloper"/>

      <Item title="Ko-fi"
            value="FullQueueDeveloper"
            url="https://ko-fi.com/FullQueueDeveloper"/>

      <Item title="Website"
            value="Full Queue Developer dot com"
            url="https://fullqueuedeveloper.com"/>

      <Item title="Contact"
            value="business@FullQueueDeveloper.com"
            url="mailto:business@FullQueueDeveloper.com"/>
    </ul>
  </div>

  <div class="my-4 text-sm">
    <a href="/" class="decoration-fuchsia-600 hover:underline decoration-4 text-white">&copy; 2022 Sincere Labs NYC Inc</a>
  </div>
</div>