---
const { title, value, url } = Astro.props;
---
<li class="mb-2"><a href={url} class="decoration-fuchsia-600 hover:underline decoration-4 text-white"><b class="text-cyan-200 font-bold">{title}</b><br/>{ value }</a></li>