---
const { title } = Astro.props;
---
<html>
  <head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <title>{title} - FullQueueDeveloper.com</title>

</head>
<body  class="bg-indigo-600 text-neutral-900">

  <slot/>

  <footer class="container mx-auto px-8 pt-4 pb-8  text-sm text-fuchsia-600 max-w-prose">
    <a href="/" class="decoration-fuchsia-600 hover:underline decoration-4 text-white">&copy; 2022 Sincere Labs NYC, Inc</a>

  |

    <a href="https://twitter.com/fullqueuedev" class="decoration-fuchsia-600 hover:underline decoration-4 text-white">Twitter</a>
  |
    <a href="https://twitch.tv/fullqueuedeveloper" class="decoration-fuchsia-600 hover:underline decoration-4 text-white">Twitch</a>
  |

  <a href="https://github.com/fullqueuedeveloper" class="decoration-fuchsia-600 hover:underline decoration-4 text-white">GitHub</a>
    </footer>
</body>
</html>
