---
import Footer from '@sections/Footer/Footer.astro';
const { title } = Astro.props;
---
<html>
  <head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="icon" type="image/png" href="https://fullqueuedeveloper.com/favicon.png" />
    <title>{title} - FullQueueDeveloper.com</title>

</head>
<body  class="bg-indigo-600 text-neutral-900">

  <slot/>

  <Footer/>
</body>
</html>
